.homepage {
  text-align: center;
  width: "80%";
  margin: 0 auto;
  display: flex;
  height: 100vh;
}

.sections-container {
  margin-left: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.section-title {
  margin-top: 15px;
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  background-color: #ebebeb;
  color: #5c5c5c;
}
