.listing-page-container {
  width: 100vw;
  height: 100vh;
}

.listing-header {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #ababab;
  background-color: #ebebeb;
  color: #5c5c5c;
  font-size: 22px;
  font-weight: bold;
  line-height: 40px;
}

.listing-price {
  font-size: 24px;
  color: #5c5c5c;
  font-weight: normal;
}

.listing-details {
  display: flex;
}

.listing-image {
  width: 90%;
  max-width: 650px;
  max-height: 400px;
  object-fit: contain;
  /* margin-top: 15px; */
  background-color: #ebebeb;
}

.detail {
  border: 1px solid #ababab;
  background-color: #f8f8f8;
  padding: 2px 8px;
  border-radius: 3px;
  margin-bottom: 5px;
  display: inline-block;
}

.listing-description {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 25px;
}
