.header-container {
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
  height: 40px;
  width: 665px;
  background-color: #ebebeb;
  font-family: "Times New Roman", Times, serif;
  color: #5c5c5c;
  font-size: 22px;
  line-height: 40px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 15px;
}
