.App {
  text-align: center;
  width: 900px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
}

.sections-container {
  margin-left: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}
